

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Faculty+Glyphic&family=Frijole&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Press+Start+2P&family=Yarndings+20&display=swap');
@import "tailwindcss";
*{
    margin: 0;
    padding: 0;

}



.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
